<%- include('header') -%>

<%- include('links') -%>

<body class="bodyStyle">
    <h1>Match Sim</h1>

    <div class="row justify-content-center">
        <div class="col-8">

            <% if (resultOfInsert == true) { %>
                <p>Match result saved.</p>
                <p><%= winningTeamName %> defeated <%= losingTeamName %>: <%= winningTeamScore %>-<%= losingTeamScore %></p>
                <br />
            <% } %>

            <form class="" action="/match_sim_result" method="post" name="matchSimForm" id="matchSimForm">
                <p>Team 1: <%= nextMatchDetails[0].team1_name %> (<%= nextMatchDetails[0].team1_rating %>)</p>
                <p>Team 2: <%= nextMatchDetails[0].team2_name %> (<%= nextMatchDetails[0].team2_rating %>)</p>
                <button type="submit" id="sim_match" name="sim_match" value="sim" class="btn btn-primary btn-block mainButton">
                    Simulate Match
                </button>
                <input type="hidden" name="matchResultID" value="<%= nextMatchDetails[0].match_result_id %>" />
                <input type="hidden" name="team1ID" value="<%= nextMatchDetails[0].team1_id %>" />
                <input type="hidden" name="team2ID" value="<%= nextMatchDetails[0].team2_id %>" />
                <input type="hidden" name="team1Rating" value="<%= nextMatchDetails[0].team1_rating %>" />
                <input type="hidden" name="team2Rating" value="<%= nextMatchDetails[0].team2_rating %>" />
            </form>

        </div>
    </div>
</body>
</html>