<%- include('header') -%>

<%- include('links') -%>
<body class="bodyStyle">
    <h1><%= teamDetails[0].team_name %></h1>
    <div class="container-fluid">
        <div class="row justify-content-center text-center">
            <div class="col-8">
                <p>Team Rating: <%= teamDetails[0].team_rating %></p>
                <p>Conference: <%= teamDetails[0].conference_name %></p>
                <p>Record: <%= teamOverallPosition[0].wins %>-<%= teamOverallPosition[0].losses %></p>
                <p>Position: <%= teamOverallPosition[0].pos %></p>
            </div>
            <div class="col-4">
                <img src="/images/<%= teamDetails[0].image_filename %>" width="200" height="200">
            </div>
        </div>
        <div class="row justify-content-center">
            <h2>Match Results</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
                <table class="dataTable">
                    <thead>
                        <th>ID</th>
                        <th>Result</th>
                        <th>Score</th>
                        <th>Opponent</th>
                        <th>Opponent Score</th>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < teamMatchResults.length; i++) { %>
                            <tr>
                                <td><%= teamMatchResults[i].id %></a></td>
                                <td><%= teamMatchResults[i].match_result %></td>
                                <td><%= teamMatchResults[i].points_for %></td>
                                <td><a href='/team/?teamID=<%= teamMatchResults[i].opponent_team_id %>'><%= teamMatchResults[i].opponent %></a></td>
                                <td><%= teamMatchResults[i].points_against %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="row justify-content-center">
            <h2>Players</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
                <table class="dataTable">
                    <thead>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Rating (OVR)</th>
                        <th>Points</th>
                        <th>Rebounds</th>
                        <th>Assists</th>
                        <th>Steals</th>
                        <th>Blocks</th>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < playerDetails.length; i++) { %>
                            <tr>
                                <td><%= playerDetails[i].id %></a></td>
                                <td><a href='/player/?playerID=<%= playerDetails[i].id %>'><%= playerDetails[i].first_name %> <%= playerDetails[i].last_name %></a></td>
                                <td><%= playerDetails[i].rating_ovr %></td>
                                <td><%= playerDetails[i].points_scored %></td>
                                <td><%= playerDetails[i].rebounds %></td>
                                <td><%= playerDetails[i].assists %></td>
                                <td><%= playerDetails[i].steals %></td>
                                <td><%= playerDetails[i].blocks %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</body>
</html>