<%- include('header') -%>

<%- include('links') -%>
<body class="bodyStyle">
    <h1>Trade Completed</h1>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-4">
                <p>You Receive:</p>
                <p>Player ID: <%= tradeOtherPlayer.playerID %></p>
                <p>Name: <%= tradeOtherPlayer.playerName %></p>
                <p>Rating: <%= tradeOtherPlayer.ratingOvr %></p>
            </div>
            <div class="col-4">
                <p><%= tradeYourPlayer.teamName %> Receive:</p>
                <p>Player ID <%= tradeYourPlayer.playerID %></p>
                <p>Name: <%= tradeYourPlayer.playerName %></p>
                <p>Rating: <%= tradeYourPlayer.ratingOvr %></p>
            </div>
        </div>
        
    </div>
</body>
</html>