<%- include('header') -%>

<%- include('links') -%>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="../scripts/tradeSelection.js"></script>

<body class="bodyStyle">
    <h1>Trades</h1>
    <form class="" action="/trade_submitted" method="post" name="tradeSubmitted" id="tradeSubmitted">
        <div class="row justify-content-center">
            <div class="col-8">
                <h2>Proposed Trade</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 text-left">
                <p>Your Player:</p>
                <div id="yourSelectedPlayerName">None Selected</div>
                <div id="yourSelectedPlayerRating"></div>
                <div id="yourSelectedPlayerSalary"></div>
            </div>
            <div class="col-4 text-left">
                <p>Chosen Player:</p>
                <div id="chosenPlayerName">None Selected</div>
                <div id="chosenPlayerRating"></div>
                <div id="chosenPlayerSalary"></div>
                <div id="chosenPlayerTeam"></div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <button type="submit" id="confirm_trade" name="confirm_trade" value="trade" class="btn btn-primary btn-block mainButton" disabled>
                    Confirm Trade
                </button>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-6">
                <h2>Your Team</h2>
                <table class="dataTable">
                    <thead>
                        <th></th>
                        <th>Player Name</th>
                        <th>Overall Rating</th>
                        <th>Salary</th>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < playerDetailsForTeam.length; i++) { %>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input"
                                        type="radio" 
                                        name="radioPlayerYourTeam" 
                                        id="radioPlayerYourTeam" 
                                        value="<%= playerDetailsForTeam[i].first_name %> <%= playerDetailsForTeam[i].last_name %>" 
                                        onclick="updateProposedTradeYourTeam(this)">
                                    </div>
                                </td>
                                <td class="rowPlayerName"><a href='/player/?playerID=<%= playerDetailsForTeam[i].id %>'><%= playerDetailsForTeam[i].first_name %> <%= playerDetailsForTeam[i].last_name %></a></td>
                                <td class="rowPlayerRating"><%= playerDetailsForTeam[i].rating_ovr %></td>
                                <td class="rowPlayerSalary"><%= playerDetailsForTeam[i].annual_salary %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>

            <div class="col-6">
                <h2>Open to Trade</h2>
                <table class="dataTable">
                    <thead>
                        <th></th>
                        <th>Player Name</th>
                        <th>Overall Rating</th>
                        <th>Team Name</th>
                        <th>Salary</th>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < playersOpenToTrade.length; i++) { %>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input"
                                        type="radio" 
                                        name="radioPlayerOpen" 
                                        id="radioPlayerOpen" 
                                        value="<%= playersOpenToTrade[i].first_name %> <%= playersOpenToTrade[i].last_name %>" 
                                        onclick="updateProposedTradeChosenPlayer(this)">
                                    </div>
                                </td>
                                <td class="rowOpenPlayerName"><a href='/player/?playerID=<%= playersOpenToTrade[i].id %>'><%= playersOpenToTrade[i].first_name %> <%= playersOpenToTrade[i].last_name %></a></td>
                                <td class="rowOpenPlayerRating"><%= playersOpenToTrade[i].rating_ovr %></td>
                                <td class="rowOpenPlayerTeam"><%= playersOpenToTrade[i].team_name %></td>
                                <td class="rowOpenPlayerSalary"><%= playersOpenToTrade[i].annual_salary %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</body>
</html>